BOT_NAME=Hutao V4
BOT_PREFIX=!
ENABLE_RICH_MENU=false
OWNER_NUMBER=5599999999999
AUTH_DIR=auth
STICKER_FONT_PATH=/usr/share/fonts/liberation/LiberationSans-Regular.ttf
HU_TAO_STICKER_TEXT=Feito chefe
STICKER_MAX_VIDEO_SECONDS=10
RECONNECT_BASE_DELAY_MS=5000
RECONNECT_MAX_DELAY_MS=60000
